@font-face{
    font-family: "vazir";
    src: url("../fonts/vazir.eot");
    /* hdjshjd */
    src: url("../fonts/vazir.eot?#iefix")format("embededd-opentype"),
     url("../fonts/vazir.woff2") format("woff2"),
     url("../fonts/vazir.woff") format("woff"),
     url("../fonts/vazir.ttf");

}
body{
    font-family: "vazir" !important;
}